@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family: 'Open Sans', sans-serif;
}

.header{
  background-color: #1e8a24;
  padding: 10px 0;
  text-align: center;

  h1 {
    color: #fff;
    font-weight: 400;
  }
}

.search-bar{
  display: flex;
  border-bottom: 0.5px solid #000;
  .close-search{
    background-color: #c2c1c1;
    border: none;
    font-size: 30px;
    padding: 10px 15px;
    cursor: pointer;
    color: #fff;
  }

  input {
    border: none;
    width: 100%;
    font-size: 30px;
    padding: 0 5px;
  }
}

.bookshelf{
  padding: 10px 20px;

  .bookshelf-title{
    border-bottom: 1px solid #dedede;
    padding: 0 0 5px 0;
  }
}